
<!-- 
to do : align for comment (see eg project.edit.html.erb
-->

<section>
   <h1>Edit comment</h1>
   <% # Passing Data to form partial with locals Option : %>
   <%= render partial: "form", locals: { comment: @comment, cancel_dest: projects_path() } %>
</section>