
<section>
   <span class="parent_token m_1 ml_0">
      <span class="grey_text"><%= @commentable_type %> :  </span> 
      <span class="bold_text"> <%= link_to @commentable.title, @commentable, class: "p_0.25 m_0 no_decor inline_block hover_highlight" %></span>
   </span>
</section>

<section>
   <h1>Edit comment</h1>
   <% # Passing Data to form partial with locals Option : %>
   <%= render partial: "form", locals: { comment: @comment, cancel_dest: projects_path() } %>
</section>