<h1>New comment</h1>

<section class="flex gap_1">
   <p>
      Adding comment to 
      <span class="border bg_lightgrey inline_block p_.25">
         <span class="grey_text"><%=@commentable_type%> :  </span> 
         <span class="bold_text"> <%= @commentable.title %></span>
      </span>
   </p>
</section>

<section>
   <%= render "form", comment: @comment %>
</section>
