<h1>New comment</h1>


<!-- to do : need to show the item title that we are adding comment to.. -->
<section class="flex gap_1">
   <p>
      Adding comment to 
      <span class="border bg_lightgrey inline_block p_.25">
         <span class="grey_text"><%=@commentable_type%> :  </span> 
         <span class="bold_text"> <%= @commentable.title %></span>
      </span>
   </p>
</section>

<section>
   <%= render "form", comment: @comment %>
</section>

<section>
   <!-- to do : we should return to 'commentable_type' path not hardcoded 'todo_path'-->
   <%= link_to "Cancel", todo_path(@commentable_id), class:"action_link" %>
</section>
4

