<h1>All Tasks</h1>

<% # to do : nav is not showing user.name correctly ? %>
<section>
   <ul class="all_artifacts_list">
      <% @augmented_tasks.each do |task,project| %>

         <%
         users_list = task.users
         %>
         <li>
            <%= link_to task.title, task %>
            <span class="parent_token">
               <span class="grey_text">project :  </span>
               <%= link_to project.title, project %>
            </span>
            
            <% if(task.creators.length > 0) then %>
               <div>creator: <%= task.creators.distinct.pluck(:name) %></div>
            <% end %>
            <% if(task.users.length > 0) then %>
               <div>users: <%= task.users.distinct.pluck(:name) %></div>
            <% end %>


         </li>
      <% end %>
   </ul>
</section>

