<h1>New project in projects</h1>

<section>
   <%= render "form", project: @project %>
</section>

<section>
   <%= link_to "Cancel", programme_path(@programme_id), class:"action_link" %>
</section>


