<h1>All Todos</h1>

<section>
   <ul class="all_artifacts_list">
      <% @augmented_todos.each do |todo,task| %>
         <li>
            <%= link_to todo.title, todo %>
            <span class="parent_token">         
               <span class="grey_text">task :  </span>
               <%= link_to task.title, task %>
            </span>

            <% if(todo.creators.length > 0) then %>
               <div>creator: <%= todo.creators.distinct.pluck(:name) %></div>
            <% end %>
            <% if(todo.users.length > 0) then %>
               <div>users: <%= todo.users.distinct.pluck(:name) %></div>
            <% end %>

         </li>
      <% end %>
  </ul>
</section>

