/*
* This is a manifest file that'll be compiled into application.css.
*
* With Propshaft, assets are served efficiently without preprocessing steps. You can still include
* application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
* cascading order, meaning styles declared later in the document or manifest will override earlier ones,
* depending on specificity.
*
* Consider organizing styles into separate files for maintainability.
*/


body {
   font-family: Arial, Helvetica, sans-serif;
   padding: 1rem;
}

nav {
   justify-content: flex-end;
   display: flex;
   font-size: 0.875em;
   gap: 0.5rem;
   max-width: 1024px;
   margin: 0 auto;
   padding: 1rem;
}

nav a {
   display: inline-block;
}

main {
   max-width: 1024px;
   margin: 0 auto;
}

.notice {
color: green;
}

section {
   padding:2rem;
}

section img {
   border-radius: 8px;
   flex-basis: 50%;
   max-width: 50%;
}

.grey_text {
   color:grey;
}
.light_grey_text {
   color:hsl(0, 0%, 90%);
}
section .grey_text {
   font-weight:100;
}

button {
   margin:.15rem;
}

a {
   margin:.25rem;
   padding:.25rem;
   color:blue;
}
a:hover {
   color:purple;
}

/* 
artifacts_list
list of main application artifacts - projects/tasks etc 
requires plenty spacing
*/
section.artifacts_list {
   /* margin:0; */
   padding:.5rem;
   border:solid 1px lightgrey;
}
ul {
   margin:0.5rem;
   padding:0;
   display:flex;
   flex-direction:column;
   gap:.5rem;
   list-style:none;
}

.artefact_type {
   width:fit-content;
   margin:0;
   padding:.15rem .25rem;
   border:solid 1px lightgrey;
   border-top:none;
   border-left:none;
   border-radius:0 0 .5rem 0;
}
/* title/navbar on artifact views */
section.artifact_bar {
   display:flex;
   justify-content:space-between;
   align-items:center;
   margin:0;
   margin-bottom:1rem;
   padding:.25rem .5rem;
   border:solid 1px lightgrey;
}
.action_link,
button.action_link,
input[type="submit"] {
   display:inline-block;
   width:fit-content;
   margin:.25rem;
   padding:.5rem;
   border:solid 1px lightgrey;
   border-radius:.25rem;
   font-size:1rem;
   text-decoration:none;
   color:hsl(0, 0%, 50%);
   background:hsl(195, 53%, 90%);
   cursor:pointer;
}
.action_link:hover,
button.action_link:hover,
input[type="submit"]:hover {
   color:white;
   background:hsl(195, 53%, 50%);
} 

form {
   visibility:visible;
   display:flex;
   /* flex-direction:column; we can't use this default since have to work w/ Rails injected forms. */
   gap:1rem;
}
.form_row {
   display:grid;
   grid-template-columns:1fr 3fr;
}

/* flex utilities */
.flex {
   display:flex;
}
.flex_cols {
   flex-direction:column;
}
.items_center {
   align-items:center;
}


/* headings */
h1,h2,h3,h4,h5,h6 {
   margin:.25rem 0;
   padding:0;
}
h1 {
   font-size:2rem;
}

/* generic card layout/outline */
.card {
   width:fit-content;
   margin-bottom:.5rem;
   padding:0;
   border:solid 1px lightgrey;
   border-radius:.5rem;
   overflow:none;
}
.card_title_bar {
   max-width:100%;
   margin:0;
   padding:.5rem;
   height:fit-content;
   font-style:italic;
   font-weight:100;
   color:hsl(0, 0%, 70%);
   border-bottom:solid 1px lightgrey;
}
.card_content {
   width:100%;
   margin:.5rem 0;
   padding:.5rem;
}

/* to do : tidy utility classes.. */
.bg_yellow {background:yellow;}
.m_0 {margin:0;}
.m_1 {margin:1rem;}
.mb_1 {margin-bottom:1rem;}
.p_0 {padding:0;}
.p_0\.25 {padding:.25rem;}
.px_1 {padding-left:1rem;padding-right:1rem;}
.no_decor {text-decoration:none;}

.hover_highlight:hover {background:hsl(0, 0%,96%);}
.inline_block {display:inline-block;}
.border {border:solid 1px lightgrey;}